# Config File for functions to execute from script
[cred]
countercars=1
phonenumbers=[015754403017]
customername="taxi test"
taxicompany=True
rentcompany=True
phonenumbersgiven=True
[flags]
loginwifi=True
creategoogleaccount=True
installapps=True
pairdriverapp=True
configuresettings=True
[loginwifi]
wifissid=JayJahGoesHigh
wifipw=DuHastDochEinenKnall!!!
[creategoogleaccount]
birthday="01"
birthmonth="02"
birthyear="1951"
[installapps]
installappsps=com.talex.mytaxidriver,de.movementfamilyev.app
installappslf=[]
startapps=[]
[pairdriverapp]
drivername="test1"
driverpw="test2"
[configuresettings]
configurepowersavingmode=True
configurelockscreenapp=True

